/* Universal Styles */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #333333;
}

/* Header/Headings w/ Media Queries */

header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 80px;
  border-bottom: 1px solid #000000;
  width: 100%;
  background-color: #000000;
  color: #ff2052;
}

header h1 {
  margin: auto;
  padding: 21px 21px;
  display: inline-block;
  font-size: 3em;
}

header ul { 
  margin: auto;
  padding: 25px 20px;
  display: inline-block;
}

header li {
  font-size: 1.5em;
  display: inline-block;
  margin: 0px 50px;
}

@media only screen and (max-width: 1200px) {
  header {
    font-size: 15px;
  }

  header li {
    font-size: 1.5em;
    display: inline-block;
    margin: 0px 10px;
  }

  header h1, header ul {
    margin: auto;
    padding: 20px;
    display: inline-block;
  }

}

@media only screen and (max-width: 900px) {
  header {
    font-size: 12px;
  }

  header li {
    font-size: 1.5em;
    display: inline-block;
    margin: 5px 10px;
  }

  header h1, header ul {
    margin: auto;
    padding: 20px;
    display: inline-block;
  }
  
}

/* Navigation Styles */

nav {
  float: right;
}

nav a {
  text-decoration: none;
  color: #ff2052;
}

/* Colors Section Styles */

#colors {
  margin: 95px auto 50px auto;
  width: 90%;
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: #000000;
  color: #ff2052;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.3);
}

/* .section {
  margin: 50px auto 50px auto;
  width: 90%;
  border: 1px solid #000000;
  background-color: #929292;
} */

.title {
  width: 100%;
  border-bottom: 1px dotted #000000;
  padding: 20px 0px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}

.anchor {
  position: relative;
  left: 0px;
  top: -80px;
}

/* .colors-row1 {
  display: flex;
  justify-content: space-evenly;
} */

.flexbox-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.colorbox {
  margin: 20px;
  min-height: 100px;
  width: 11em;
  border: 1px solid #000000;
  border-radius: 25px;
  box-shadow: 0 5px rgba(255, 255, 255, 0.3);
  text-align: center;
}

#cool-blue {
  background-color: #2d5dcc;
  color: #000000;
}

#magenta {
  background-color: #ff00ff;
  color: #000000;
}

#mint-green {
  background-color: #4fe0b0;
  color: #000000;
}

#beige {
  background-color: #efd9ca;
  color: #000000;
}

#wsw-blue {
  background-color: #003d77;
  color: #000000;
}

#awesome {
  background-color: #ff2052;
  color: #000000;
}

#lime {
  background-color: #bfff00;
  color: #000000;
}

#persian-rose {
  background-color: #fe28a2;
  color: #000000;
}

#electric-violet {
  background-color: #8f00ff;
  color: #000000;
}

/* Fonts Section Styles */

#fonts {
    margin: 50px auto 50px auto;
    width: 90%;
    border: 1px solid #000000;
    border-radius: 25px;
    background-color: #000000;
    color: #ff2052;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.3);
}

.flexbox-fonts {
  display: block;
  text-align: center;
}


/* Font Labels */
.font-label {
  text-decoration: underline;
  text-align: center;
  color: #ff2052
}

#source-code-pro {
  font-family: 'Source Code Pro', monospace;
  color: #ff2052;
}

#nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
  color: #ff2052;
}

#poppins {
  font-family: 'Poppins', sans-serif;
  color: #ff2052;
}

#tomorrow {
  font-family: 'Tomorrow', sans-serif;
  color: #ff2052;
}

#times {
  font-family: 'Times New Roman', sans-serif;
  color: #ff2052;
}

#franklin {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ff2052;
}

/* Font Families */
.source-code-pro {
  font-family: 'Source Code Pro', monospace;
  color: #fff;
}

.nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.tomorrow {
  font-family: 'Tomorrow', sans-serif;
  color: #fff;
}

.times {
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
}

.franklin {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}

/* Font Styles */
.regular {
  font-style: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Element Styling */

#elements {
  margin: 50px auto 50px auto;
  width: 90%;
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: #000000;
  color: #ff2052;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.3);
}

.flexbox-elements {
  display: block;
  text-align: center;
}

.flexbox-elements h3 {
  text-decoration: underline;
}

.flexbox-elements p {
  color: #fff;
}

